<app-nav-bar></app-nav-bar>
<app-mega-menu></app-mega-menu>
<div class='Form'>
    <div class="body">
        <p-menu #menu [popup]="true"></p-menu>
        <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
            <span class="p-input-icon-left">
                <i class="pi pi-user"></i>
                <input type="text" pInputText [(ngModel)]="username" placeholder="Username"/>
            </span>
        </div>
        <br>
        <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
            <span class="p-input-icon-left">
                <i class="pi pi-user"></i>
                <input type="text" pInputText [(ngModel)]="email" placeholder="Email"/>
            </span>
        </div>
        <br>
        <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
            <span class="p-input-icon-left">
                <input type="password" pInputText  [(ngModel)]="password" placeholder="Password"/>
                <i class="pi pi-lock"></i>
            </span>
        </div>
        <br>
        <div class="check">
        <p-checkbox name="groupname"></p-checkbox> <label class="label2">Rember me</label>
        </div>
        <br>
        <br>
       <div class="btn">
           <button type="submit"  pButton type="text-button"  (click)="onSubmit()" label="Login" class="p-button-secondary"></button>
        </div>
      
        <div class="icon">
            <p class="paragraph">Login With...</p>
            <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
            <i class="pi pi-google" style="font-size: 1.5rem"></i>
            <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
            <i class="pi pi-facebook" style="font-size: 1.5rem"></i>
        </div>
        <br>
        <p class="f">FORGOT PASSWORD?</p>

    </div>
</div>



