<div class='Form'>
    <div class="body">
    
        <input type="text" pInputText class="p-inputtext-sm" placeholder="Username">  
        <br>
        <br>
        <input type="text" pInputText class="p-inputtext-sm" placeholder="Password">  
            <br>
            <br>
        <div class="check">
        <p-checkbox name="groupname" ></p-checkbox> <label class="label2">Rember me</label>
        </div>
        <br>
        <app-button></app-button>
      
        <div class="icon">
            <p class="paragraph">Login With...</p>
            <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
            <i class="pi pi-google" style="font-size: 1.5rem"></i>
            <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
            <i class="pi pi-facebook" style="font-size: 1.5rem"></i>

        </div>
        <br>
        <br>
        <p class="f">FORGOT PASSWORD?</p>


    </div>



