<div class='Form'>
    <div class="body">
        <p-menu #menu [popup]="true"></p-menu>
    
        <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="username" placeholder="Username" >  
            <br>
            <br>
        <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="email"  placeholder="Email">  
            <br>
            <br>
        <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="password"  placeholder="Password">  
        <br>
        <div class="check">
            <br>
        <p-checkbox name="groupname"></p-checkbox> <label class="label2">Rember me</label>
        </div>
        <br>
        <br>
       <div class="btn">
           <button type="submit"  pButton type="text-button"  (click)="onSubmit()" label="Login" class="p-button-secondary"></button>
        </div>
      
        <div class="icon">
            <p class="paragraph">Login With...</p>
            <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
            <i class="pi pi-google" style="font-size: 1.5rem"></i>
            <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
            <i class="pi pi-facebook" style="font-size: 1.5rem"></i>
        </div>
        <br>
        <br>
        <p class="f">FORGOT PASSWORD?</p>

    </div>
</div>



