.Form{
    background-color: rgb(217, 212, 191);
    width: 400px;
    height: 500px;
    border:inset;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}

.body{
 
    text-align: center;
    margin-top: 120px;
    
}

.label{
    font-family: 'Century Gothic';
    margin-right:1px;
}

.label2{
    font-family:'Century Gothic';
    margin-left: 2px;
}

.check{
    height:5px;
    position:absolute;
    left:20%
}

.paragraph{
    font-family: cursive;
}

.f{
    font-family: cursive;
    font-size: 12px;
}



